antiorm==1.2.1
asgiref==3.11.0
bcrypt==5.0.0
blinker==1.9.0
Booktype==1.5
cffi==2.0.0
click==8.3.0
colorama==0.4.6
cryptography==46.0.3
db==0.1.1
Django==5.2.8
Flask==3.1.2
flask-cors==6.0.1
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
MarkupSafe==3.0.3
match==0.3.2
nltk==3.9.2
pycparser==2.23
PyJWT==2.10.1
PyMySQL==1.1.2
pyotp==2.9.0
python-dotenv==1.2.1
redis==7.0.1
regex==2025.11.3
setuptools==80.9.0
simplejson==3.20.2
SQLAlchemy==2.0.44
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
Werkzeug==3.1.3
